body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fot{
  text-align: center;
  background-color: pink;
  color: aqua;
}
.row{
  display: flex;
}
.nit{
  padding: 10px 15px;
}
.w-100{
  width: 100%;
}
#cc{
  background-color: gray;
}